:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --third-tittle-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --svg-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: 'roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.header-navigation__link.current {
  position: relative;
  color: var(--accent-color);
}

.header-navigation__link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

:focus {
  outline: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.policy-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
}

.contacts__mail {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color);
}

.contacts__tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

.header {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-left: 15px;
}

.header-container {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__header {
  color: #000000;
  margin-right: 93px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: flex;
  align-items: center;
}

.header-navigation__item {
  position: relative;
}

.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation__link {
  color: var(--second-tittle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__link:hover, .header-navigation__link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts_list {
  display: flex;
  align-items: center;
}

.header-contacts__mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  margin-right: 50px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__mail:hover, .header-contacts__mail:focus {
  color: var(--accent-color);
}

.header-contacts__tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__tel:hover, .header-contacts__tel:focus {
  color: var(--accent-color);
}

.header-contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

.hero-section {
  background-color: var(--second-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  max-width: 696px;
  margin: auto;
}

.hero-section__button {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
}

.benefits-section {
  padding-top: 94px;
  background-color: var(--main-background-color);
}

.benefits-section__list {
  display: flex;
}

.benefits-section__container {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits-section__item {
  max-width: 270px;
}

.benefits-section__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-section__item .benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-tittle-color);
}

.benefits-section__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.activity-section {
  background-color: var(--main-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.activity-section__list {
  display: flex;
}

.activity-section__item {
  position: relative;
}

.activity-section__item:not(:last-child) {
  margin-right: 30px;
}

.activity-section__window {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity-section__window-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.team-section__list {
  display: flex;
  flex-wrap: wrap;
}

.team-section__item {
  background-color: #ffffff;
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__item:nth-child(4n) {
  margin-right: 0;
}

.team-section__container {
  padding: 30px 32px;
}

.team-section__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-tittle-color);
}

.team-section__item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-section__social-link {
  color: var(--svg-color);
}

.team-section__social-link:hover, .team-section__social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.clients {
  background-color: var(--main-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  fill: var(--svg-color);
  border: 1px solid var(--svg-color);
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  display: flex;
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}

.footer__logo {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__studio {
  color: #ffffff;
}

.address__item {
  margin-top: 20px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-contacts_item {
  margin-top: 9px;
}

.footer-social__container {
  margin-left: 70px;
}

.footer-social__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-social__link {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe__container {
  display: flex;
  margin-left: 93px;
}

.footer-subscribe__form {
  display: flex;
}

.footer-subscribe__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  color: #ffffff;
  width: 358px;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__input:placeholder {
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__input:focus {
  outline: 0;
}

.footer-subscribe__btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  border-radius: 5px;
  border: none;
  margin-left: 12px;
  align-self: flex-end;
}

.footer-subscribe__svg {
  margin-left: 10px;
  margin-top: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transition-property: opacity;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: transparent;
  align-items: center;
  display: flex;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  height: 40px;
  transition-property: border;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border: 1px solid var(--accent-color);
}

.modal__input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__online-text {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  transition-property: border;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  resize: none;
}

.modal__online-text:focus {
  border: 1px solid var(--accent-color);
}

.modal__online-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.check-text {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  align-items: center;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  display: block;
  margin-left: 7px;
}

.check-icon {
  fill: #ffffff;
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.modal-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  border-radius: 5px;
  border: none;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  transition-property: box-shadow;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  margin-bottom: 50px;
}

.filter-section__list {
  justify-content: center;
  display: flex;
}

.filter-section__item:not(:last-child) {
  margin-right: 8px;
}

.filter-section__button {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-section__button:hover, .filter-section__button:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-products__container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.port-products__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.port-products__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-tittle-color);
}

.port-products__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 4px;
}

.port-products__item {
  margin-right: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 370px;
  transition-property: box-shadow;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.port-products__item:nth-child(3n) {
  margin-right: 0;
}

.port-products__overflow {
  position: relative;
  overflow: hidden;
}

.port-products__window {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;
  transition-property: transform;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.port-products__link {
  display: block;
}

.port-products__link:hover, .port-products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-products__link:hover .port-products__window,
.port-products__link:focus .port-products__window {
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
}

.port-products__window-text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */