:root {
  --primary-background-color: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #757575;
  --primary-bg-color: #ffffff;
  --active-color: #2196f3;
  --dark-background: #2f303a;
  --main-index-color: #ffffff;
  --container-width: 1200px;
}

.container {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header .container {
  align-items: center;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  display: flex;
  height: 80px;
}

.header * {
  display: flex;
}

/* global style and style decor */
h1,
h2,
h3,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding-inline-start: 0;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border-style: none;
  padding: 5px 15px;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Body index */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.banner-title {
  color: var(--main-index-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  max-width: 600px;
  margin: auto;
}

.section-benefits {
  padding-top: 94px;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantage {
  width: 270px;
  letter-spacing: 0.03em;
}

.icon-advantajes {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages .company-advantages {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  height: 16px;
  margin-left: center;
  margin-top: 30px;
}

.advantages .function {
  margin-top: 10px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 75px;
}

.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow {
  background-color: #ffffff;
}

.employee {
  background-color: #f5f4fa;
}

.our-team,
.our-customers,
.our-work {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.teammate {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.work-our-teammate {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-teamteam .team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team > li:not(:last-child) {
  margin-right: 30px;
}

.shadow .team-details {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container .what-we-do {
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.what-we-do li {
  position: relative;
  left: 0;
  bottom: 0;
}

.services {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-network {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.social-network-icon-link {
  width: 44px;
  height: 44px;
}

.social-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-icon-link .social-icon:hover {
  --color3: #ffffff;
  background-color: var(--active-color);
}

.social-network-icon-link .social-icon:focus {
  --color3: #ffffff;
  background-color: var(--active-color);
}

.social-network-icon-link + .social-network-icon-link {
  margin-left: 10px;
}

/* Body Porfolio*/
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-colour);
}

.width-picture-bot {
  background: #ffffff;
  box-sizing: border-box;
}

..width-picture-bot img {
  position: relative;
  top: 0;
  bottom: 0;
}

.width-picture-bot:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-porfolio-border {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.products-overflow {
  position: relative;
  overflow: hidden;
}

.width-picture-bot:hover .port-products-window {
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
}
.port-products-window {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;
  transition-property: transform;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.discription-portfolio {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .section-service {
  display: flex;
}

.container .our-portfolio {
  display: flex;
  flex-wrap: wrap;

  flex-basis: auto;
  margin-top: 50px;
}

.container .our-portfolio li {
  font-size: 0;
}

.container .our-portfolio li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.container .our-portfolio li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.header .web-studio span,
.web-studio-footer span {
  color: var(--active-color);
}

.link.web-studio {
  margin-right: 93px;
  font-family: Raleway;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*  Navigator header */

.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  margin-right: 10px;
}

.site-nav li:not(:last-child),
.contact-nav li:not(:last-child) {
  margin-right: 50px;
  align-items: flex-start;
}

.site-nav .link:hover,
.site-nav .link:focus {
  --title-text-color: var(--active-color);
}

.site-nav.link.current {
  color: var(--active-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

/*  Conctact header*/
.contact-nav {
  margin-left: auto;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  --accent-color: var(--active-color);
  --color4: var(--active-color);
}

/* Section button */

.section .section-service {
  flex-wrap: wrap;
}

.banner .btn {
  display: block;
  padding: 10px 32px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  color: var(--main-index-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--active-color);
  flex-wrap: wrap;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}

.button-close {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  color: transparent;
  display: flex;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
  background: var(--active-color);
}

.banner .btn:hover,
.banner .btn:focus {
  color: var(--main-index-color);
  --title-text-color: var(--primary-background-color);
  background-color: #188ce8;
}

.button-nav .btn {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav .btn:hover,
.button-nav .btn:focus {
  --title-text-color: var(--main-index-color);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-nav li:not(:last-child) {
  margin-right: 10px;
}
/* Section service */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-work-type {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.width-picture-bot .our-porfolio-border {
  padding: 20px 24px 20px 24px;
}

.regular-customers {
  display: flex;
  justify-content: space-between;
}

.regular-customers .customer {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers .customer:hover,
:focus {
  --color3: var(--active-color);
  border-color: var(--active-color);
}

/* footer */
.container-footer {
  display: flex;
  max-width: var(--container-width);
  margin: auto;
  width: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer * {
  color: #ffffff;
}

.link.web-studio-footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  color: var(--main-index-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-left {
  margin-right: 70px;
}

.footer-social h4 {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social .social-network {
  margin: 0;
}

.footer-social .social-icon {
  --color3: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social .social-icon:hover {
  background: var(--active-color);
}

.list .location {
  color: var(--main-index-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--dark-background);
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*   */

.banner {
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
    url(../img/banner.jpg), linear-gradient(#4c4c4c, #4c4c4c);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-size: containe;
  border: 1px solid #000000;
  box-sizing: border-box;
  background-position: center;
  max-width: 1600px;
  margin: auto;
}

.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  opacity: 0.6;
}

.address .link:hover,
.address .link:focus {
  color: var(--active-color);
  opacity: 1;
}

.container-footer .footer-left li:not(:last-child),
.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}
