:root {
  --primary-background-color: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #757575;
  --primary-bg-color: #ffffff;
  --active-color: #2196f3;
  --dark-background: #2f303a;
  --main-index-color: #ffffff;
  --container-width: 1200px;
}

.container {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.header * {
  display: flex;
}

/* global style and style decor */
h1,
h2,
h3,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding-inline-start: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border-style: none;
  padding: 5px 15px;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Body index */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.banner-title {
  color: var(--main-index-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  max-width: 600px;
  margin: auto;
}

.section-benefits {
  padding-top: 94px;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantage {
  width: 270px;
  letter-spacing: 0.03em;
}

.advantages .company-advantages {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  height: 16px;
  margin-left: center;
}

.advantages .function {
  margin-top: 10px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 75px;
}

.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow {
  background-color: #ffffff;
}

.employee {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.section-work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.our-work {
  margin-top: 0%;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.teammate {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.work-our-teammate {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-teamteam .team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container-teamteam li:not(:last-child),
.team li:not(:last-child) {
  margin-right: 30px;
}

.shadow .team-details {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container .what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Body Porfolio*/
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-colour);
}

.width-picture-bot {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.button-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .section-service {
  display: flex;
}

.container .our-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.container .our-portfolio li {
  font-size: 0;
}

.web-studio span,
.web-studio-footer span {
  color: var(--active-color);
}

.link.web-studio {
  margin-right: 93px;
  font-family: Raleway;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*  Navigator header */

.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav li:not(:last-child),
.contact-nav li:not(:last-child) {
  margin-right: 50px;
  align-items: flex-start;
}

.site-nav .link:hover,
.site-nav .link:focus {
  --title-text-color: var(--active-color);
}

.site-nav .link .current {
  color: var(--active-color);
}

/*  Conctact header*/
.contact-nav {
  margin-left: auto;
}

.contact-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  --accent-color: var(--active-color);
}

/* Section button */

.section .section-service {
  flex-wrap: wrap;
}

.banner .btn {
  display: block;
  padding: 10px 32px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  color: var(--main-index-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--active-color);
  flex-wrap: wrap;
}

.banner .btn:hover,
.banner .btn:focus {
  --title-text-color: var(--primary-background-color);
  background-color: #188ce8;
}

.button-nav .btn {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.button-nav li:not(:last-child) {
  margin-right: 10px;
}

.button-nav .btn:hover,
.button-nav .btn:focus {
  --title-text-color: var(--primary-background-color);
  background-color: var(--active-color);
}

/* Section service */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-work-type {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.width-picture-bot .our-porfolio-border {
  /* padding-left: 24px;
  padding-top: 20px; */
  padding: 20px 24px 20px 24px;
}
/* footer */
.container-footer {
  max-width: var(--container-width);
  margin: auto;
  width: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.footer * {
  color: #ffffff;
}

.link.web-studio-footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  color: var(--main-index-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list .location {
  color: var(--main-index-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer,
.banner {
  background-color: var(--dark-background);
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  opacity: 0.6;
}

.address .link:hover,
.address .link:focus {
  color: var(--active-color);
  opacity: 1;
}

.container-footer li:not(:last-child),
.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}
