/* Боди  ?????*/
.page {
  color: #212121;
  background-color: #e5e5e5;
}

/* Шапка макете ( слово из двух цветов) ????? */
.web-studio {
}

/* убрал токи и нумерацию списков по классу list */
.list {
  list-style: none;
}

.site-nav {
}
