.activity-section {
  background-color: var(--main-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity-section__title {
  @include title(700, 36px, 1.17, center, 0.03em, var(--second-tittle-color));
  margin-bottom: 50px;
}
.activity-section__list {
  display: flex;
}
.activity-section__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.activity-section__window {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.activity-section__window-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
