.benefits-section {
  padding-top: 94px;
  background-color: var(--main-background-color);
}
.benefits-section__list {
  display: flex;
}
.benefits-section__container {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.benefits-section__item {
  max-width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.benefits-section__item .benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-tittle-color);
}
.benefits-section__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}
