.header {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-left: 15px;
}
.header-container {
  display: flex;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
  &__header {
    color: #000000;
    margin-right: 93px;
  }
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation__list {
  display: flex;
  align-items: center;
}
.header-navigation__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-navigation__link {
  color: var(--second-tittle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts {
  margin-left: auto;
}
.header-contacts_list {
  display: flex;
  align-items: center;
}
.header-contacts__mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  margin-right: 50px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts__tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}
