.hero-container {
  margin: 0 auto;
  max-width: 320px;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero-section {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: var(--second-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desktop.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desktop2x.jpg);
    }
  }
}

.hero-section__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  @media screen and (min-width: 1200px) {
    font-style: 44px;
    line-height: 1.36;
  }
}

.hero-section__button {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
}
