.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: currentColor;
}
