.team-section {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-section__title {
  @include title(700, 36px, 1.17, center, 0.03em, var(--second-tittle-color));
  margin-bottom: 50px;
}
.team-section__list {
  display: flex;
  flex-wrap: wrap;
}
.team-section__item {
  background-color: #ffffff;
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
.team-section__container {
  padding: 30px 32px;
}
.team-section__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-tittle-color);
}
.team-section__item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-section__social-link {
  color: var(--svg-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
