p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: 'roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.header-navigation__link.current {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
}
:focus {
  outline: 0;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.policy-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
