:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --third-tittle-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --svg-color: #afb1b8;
}
